# Default ignored files
/discord-bot/config.json
/discord-bot/node_modules
/discord-bot/.env
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
